---
layout: default
title: Debuggers
---

<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
    <div class="post">
        {% if post.link %}
        <div class="linkPost">
            <h1 class="title"><a href="{{ post.link }}">{{ post.title}}</a> <a href="{{ post.url }}" title="Permalink">∞</a></h1>
             {{ post.content }}
        </div>
        {% else %}
        <div class="textPost">
            {% if post.image %}
                <img class="authorPic" src="{{ post.image }}"></img>
            {% endif %}

            <h1 class="title"><a href="{{ post.url }}">{{ post.title}}</a></h1>

            {% if post.content contains '<!-- more -->' %}
                {{ post.content | split :'<!-- more -->' | first }}
            {% endif %}
        </div>
        {% endif %}
        <span class="meta">Posted: {{ post.date | date_to_string }}. 
            Filed under: {% for cat in post.categories %}
            <span class="cat">{{ cat }}</span>
            {% endfor %}
        </span>

    </div>
    {% endfor %}
  </ul>
</div>
