---
layout: default
title: Debuggers
---

<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
    <div class="post">
        <img src="{{ post.image }}"></img>
        <a href="{{ post.url }}"><h1>{{ post.title}}</h1></a>
        {% if post.content contains '<!-- more -->' %}
            {{ post.content | split :'<!-- more -->' | first }}
        {% endif %}
        <span class="meta">Posted: {{ post.date | date_to_string }}. 
            Filed under: {% for cat in post.categories %}
            <span class="cat">{{ cat }}</span>
            {% endfor %}
        </span>
    </div>
    {% endfor %}
  </ul>
</div>
