<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/gridiculous.css">
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div class="grid w960">
          <div class="header row">
         </div>

          <div class="row">
              <div class="c4 leftCol">
                  <h2>Debuggers</h2>
                  <p>
                      Debuggers is a blog about interesting bugs. Once a week, a programmer tells the story of one bug he had to fix.
                  </p>
                  <ul>
                      <li><a href="/home.html">Home</a></li>
                      <li><a href="/archives.html">Archives</a></li>
                      <li><a href="/atom.xml">Atom</a> | <a href="http://twitter.com/debuggersco">Twitter</a></li>
                  </ul>
                  <p>Edited by <a href="http://khamidou.com">Karim Hamidou</a>.</p>
              </div>
              <div class="c8 rightCol">
                  {{ content }}
              </div>
          </div>
        </div>

    </body>
</html>
